# Ignore all in subfolder
*/*

# except those with extension
!*/*.*

# or makefile
!Makefile

# Ignore mac stuff
.DS_Store

# And ignore flex generated C files
*.yy.c

# MS-PPT/WORD Temp Files
~$*.docx
~$*.pptx

*.zip
*.tab.*
*.o